@import url(./varibles.css);
main h1{
    text-align:center;
    margin-block: var(--big-padding);
}
main p{
    text-align: center;
    margin-block: var(--big-padding);
}
main ul{
    display: grid;
    gap: var(--big-padding);
    padding: var(--big-padding);
    background-color: var(--cardGray);
    width: fit-content;
    place-self: center;
    border-radius: var(--standard-padding);
}
main ul li a{
    display: block;
    text-decoration: none;
    background-color: var(--eminence);
    color: var(--almostWhite);
    padding: var(--standard-padding);
    width: 10rem;
    border-radius: var(--tiny-padding);

    
}

main li{
    display: grid;
    justify-content: center;
    text-align: center;
}

.toast{
    position: absolute;
    bottom: 50%;
    left: 40%;
    background-color: var(--almostBlack);
    color: var(--almostWhite);
    padding: 10px 20px;
    border-radius: var(--tiny-padding);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}