@import url("varibles.css");


body{
    background-color: var(--almostWhite);
}


h1{
    text-align: center;
    margin-block: var(--big-padding);
}

.authors_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin-inline: auto;
   
}

.author_card{
    display: flex;
    flex-direction: column;
    border-radius: var(--standard-padding);
    background-color: var(--cardGray);
    margin-inline: var(--big-padding);
    


  border: 1px solid #e0e0e0;
  transition: transform 0.2s ease;

    img{
        border-radius: var(--standard-padding) var(--standard-padding) 0 0;
    }

    a{
        padding: 0.5rem 1rem;
        background-color: var(--eminence);
        width: fit-content;
        color: var(--almostWhite);
        border-radius: 0.5rem;
    }

    div{
        padding: 0.5rem;
        display: grid;
        gap: 1rem;
    }
}

form{
    display: grid;
    place-self: center;
    justify-content: center;
    margin-bottom: 2rem;

    input{
        width: 10rem;
        padding: 0.5rem 1rem;
        background-color: var(--almostWhite);
        border-radius: 0.5rem;
        border: solid 1px var(--violet);
    }
}

.author_card:hover {
  transform: translateY(-4px);

}
