@import url("varibles.css");

#author_container{
        display: grid;

        max-width: 1200px;
        margin-inline: auto;
        gap: 0.5rem;

        img{
            border-radius: 0.5rem;
        }

        h2{
            font-size: 2rem;
            color: var(--violet);
        }

        p{
            font-size: 1.1rem;
        }
        div{
            padding-top: 2rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

    
        @media(min-width: 800px) {
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }


}

.authors_books_container{

    margin-block: var(--medium-padding);
    >h2{
        text-align: center;
        margin-block:var(--big-padding);
    }
}

.authors_books{
    display: flex;
  flex-wrap: wrap;
  padding-inline: var(--big-padding);
  gap: var(--big-padding);
  justify-content: start;
  align-items: stretch;
  >article{
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: start;
    width: 20rem;
    background-color: var(--cardGray);
    border: 1px solid var(--borderGray);
    border-radius: var(--standard-padding);
   >div{
    display: flex;
    flex-direction: column;
    gap: var(--tiny-padding);
    padding: var(--standard-padding);
   }
  }
}


.back-btn{
  background-color: var(--eminence);
  color: var(--almostWhite);
  padding: var(--standard-padding) var(--medium-padding);
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  
}

.back-btn-wrapper{
  margin-block: var(--medium-padding);
  margin-left: var(--medium-padding);
}

@media(max-width: 1200px){
   #author_container{
    margin-inline: var(--medium-padding);
   }
}

main{
  padding-top: 4rem;
}