@import url("../css/varibles.css");

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.hero-container {
  background: url(../Imgs/HeroNew.png) no-repeat center center;
  background-size: cover; /* Makes the background image scale responsively */
  height: 70vh;
  width: 100%;
  display: flex; /* Enables flexbox */
  justify-content: right; /* Centers text horizontally */
  align-items: center; /* Centers text vertically */
  position: relative; /* Ensures the overlay text is positioned relative to this container */
  text-align: center; /* Centers text inside the container */
}

.text-overlay {
  color: var(--almostWhite);
  font-size: 4rem; /* Adjust size for better visibility */
  font-weight: bold;
  z-index: 1; /* Ensures text is above the background image */
}

.cta-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: 9rem;
  z-index: 1;
}
.cta {
  background-color: var(--eminence);
  color: var(--almostWhite);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.randomBooksContainer {
  max-width: var(--content-max-width);
  text-align: center;

  margin-block: var(--big-padding);
  padding: var(--big-padding);
}

.randomBooksContainer h2 {
  margin-block: var(--big-padding);
}

.random-books {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: stretch; 
}

.book-article {
  display: flex; /* Make the card a flex container */
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between; /* Space out children evenly */
  max-width: 21rem;
  height: 30rem; /* Consistent height for all cards */
  padding: 1rem;
  color: var(--almostBlack);
  background-color: var(--cardGray);
  border-radius: 10px;
  border: 1px solid #e0e0e0;
}

.book-cover img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.detailsBtn {
  background-color: var(--eminence);
  color: var(--almostWhite);
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.book-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allow content to fill available space */
  justify-content: space-around;
  gap: 1rem; /* Ensure content starts at the top */
}

.textContainer {
  margin: 4rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background-color: var(--violet);
  border-radius: 10px;
}

.textContent {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  max-width: 60rem;
  color: var(--almostWhite);
  padding: 2rem;
  line-height: 1.75rem;
}

@media (max-width: 768px) {
  .hero-container {
    height: 30vh; /* Adjust height for smaller screens */
  }

  .text-overlay {
    font-size: 1.5rem; /* Adjust text size for smaller screens */
  }
}

@media (max-width: 480px) {
  .hero-container {
    height: 40vh; /* Further increase height for very small screens */
  }

  .text-overlay {
    font-size: 1.2rem; /* Further adjust text size */
  }
}
