@import url(./varibles.css);

h1{
    text-align:center;
    align-self: center;
}
html{
    height: 100%;
}
body{
    height: 100%;
}
main{
    padding-inline:1rem;
     display: grid;


}

.signup-form{
    display: grid;
    

    >section{
        display: grid;
        gap: 0.2rem;
        margin-bottom: 0.8rem;
        label{
            font-size: 1.2rem;

        }
        input{
            padding: 0.5rem;
            border: 1px solid var(--borderGray);
            border-radius: 0.2rem;
        }
    }
    input[type="submit"]{
        background-color: var(--eminence);
        color: var(--almostWhite);
        border: none;
        border-radius: 0.2rem;
        padding: 0.6rem;
        cursor: pointer;
    }
    
}

.signup-form-wrapper{
    background-color: var(--formBackground);
    padding: 2rem;
    border-radius: 0.5rem;
    margin-block: 1rem;
    max-width: 30rem;  /* or any comfortable width for your form */
    margin-inline: auto;
    width: 100%;
  

}

.no-account{
    margin-top: 0.2rem;
    text-align: center;
    a{
        color: var(--eminence);
        text-decoration: none;
    }
}