@import url("./varibles.css");

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

h1{
    text-align: center;
    margin-block: var(--big-padding);
}


.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  padding-inline: var(--big-padding);
  img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
}

.searchContainer input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--almostBlack);
}

.searchContainer button {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--eminence);
  color: var(--almostWhite);
  cursor: pointer;
}

.randomBooksContainer {
  max-width: var(--content-max-width);
  text-align: center;
  margin-block: var(--big-padding);
  padding: var(--big-padding);

  img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
}



.random-books {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: stretch; /* Ensures all cards stretch to the same height */

  img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
}

.book-article {
  display: flex; /* Make the card a flex container */
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between; /* Space out children evenly */
  max-width: 21rem;
  height: 30rem; /* Consistent height for all cards */
  padding: 1rem;
  color: var(--almostBlack);
  background-color: white;
  border-radius: 10px;
  border: 1px solid #e0e0e0;

  img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
}



.detailsBtn {
  background-color: var(--eminence);
  color: var(--almostWhite);
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.book-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allow content to fill available space */
  justify-content: space-around;
  gap: 1rem; /* Ensure content starts at the top */
}
