@import url("./varibles.css");

.singleviewContainer {
  max-width: var(--content-max-width);
  margin: auto;
  padding: var(--big-padding);
  background-color: var(--cardGray);
  border-radius: 10px;
  margin-bottom: var(--big-padding);
}

.singleview {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: var(--medium-padding);
}

.singleview img {
  max-width: 50%;
  margin-bottom: var(--medium-padding);
  border-radius: 10px;

}

.book-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: var(--medium-padding);
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--medium-padding);
  padding: var(--standard-padding) var(--medium-padding);
  border-radius: 5px;
  margin-top: var(--medium-padding);
}

.loan-btn {
  background-color: var(--eminence);
  color: var(--almostWhite);
  padding: var(--standard-padding) var(--medium-padding);
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loan-btn:hover {
  background-color: var(--violet);
}

.login-message {
  font-size: 1rem;
  color: var(--almostBlack);
  margin-top: var(--medium-padding);
}

.back-btn{
  background-color: var(--eminence);
  color: var(--almostWhite);
  padding: var(--standard-padding) var(--medium-padding);
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  
}

.back-btn-wrapper{
  margin-block: var(--medium-padding);
  margin-left: var(--medium-padding);
}