:root{
  /* colors */
    --violet: #462255;
    --almostBlack: #262626;
    --borderGray: #c5c3c3;
    --almostWhite: #f2f2f2;
    --eminence: #763497;
    --formBackground: #f9f9f9;
    /* sizes */
    --content-max-width: 1200px;
    --standard-padding: 0.5rem;
    --medium-padding: 1rem;
    --big-padding: 2rem;
    --tiny-padding: 0.25rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
  src: url();
}

@font-face {
  font-family: "EB Garamond";
  src: url();
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "EB Garamond";
  
}

p,
a,
label,
input {
  font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
}
